$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

h1,h2,h3 {
  margin: 0;
}

.navbar {
  border-radius: 0;
  // z-index: 10000;
}

.top-search {
  margin-top: 10px;
}

.cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @extend .row;
  & > li {
    // margin: 0;
    // padding: 0;
    @extend .col-md-3;
  }
}

.card {
  @extend .panel;
  @extend .panel-default;
}

.card-cover {
  background: #fff no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 16rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-body {
  @extend .panel-body;
}

.card-bottom {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  line-height: 4rem;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background: $brand-primary;
    color: #fff;
  }
  &.active {
    background: $brand-primary;
    color: #fff;
  }
}

.card-detail {
  @extend .col-md-12;
  // display: none;
  & > .panel {
    &:after {
      content:"";
      border-color: #fff transparent transparent;
      border-style:solid;
      border-width:9px;
      width:0;
      height:0;
      position:absolute;
      bottom:-18px;
      left:21px
    }
    &:before {
      content:"";
      border-color: #000066 transparent transparent;
      border-style:solid;
      border-width:10px;
      width:0;
      height:0;
      position:absolute;
      bottom:-20px;
      left:20px
    }
  }
}

.product-photos {
  margin: 0;
  padding: 0;
  @extend .row;
  display: inline;
  list-style-type: none;
  li {
    padding: 0;
    margin: 0;
    @extend .col-md-4;
  }
}

.product-cover {
  height: 190px;
  width: 190px;
  float: left;
  background: skyblue;
}

.product-photo {
  height: 40px;
  width: 40px;
  margin: auto;
  margin-bottom: 10px;
  background: pink;
}

.stores-tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.store-categories {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  & > li {
    display: inline-block;
  }
}

.card-sony {
  & > .panel {
    background: #f5f5f5;
    color: rgba(0,0,0,0.75);
  }
  .panel-heading {
    background: #000;
    color: #fff;
    bottom: 0;
  }
}

.store-hero{
  height: 300px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  background: pink;
  margin-top:-20px;
  margin-bottom:0;
  background-size: cover;
  background-position: center;
}

.store-search{
  padding-right: 1em
}

.store-navbar{
  margin-top: 0
}

.categories, .about {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.product-cart-photo{
  height: 60px;
  width: 60px;
  display: inline-block;
  background: pink;
}

.product-cart-price{
  color: #62ad5a;
  font-size: 1.5em;
}

.sony-styled {
  background: #151515;
  color: rgba(255, 255, 255, 0.9);

  .store-navbar {
    background: #262626;
    border: 0;
    color: #fff;
    a {
      color: #fff;
    }
  }

  .store-navbar .navbar-nav > li > a {
    color: #fff;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  hr {
    border-color: #404040;
  }

  .card {
    border: 0;
    background: #383838;
    .card-bottom {
      border-top-color: #5a5a5a;
      background: #454545;
      color: #fff;
      &:hover {
        background: #404040;
      }
    }
  }

}

.categories {
  padding: 4rem 0;
  ul {
    margin: 0;
    // padding: 0;
    list-style-type: none;
  }
  & > ul {
    padding: 0;
    @extend .row;
  }
  & > ul > li {
    @extend .col-md-3;
  }
}

.about {
  padding: 4rem 0;
}

#cart {
  display: none;
}

.cart-shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.cart {
  position: fixed;
  padding: 1rem;
  z-index: 9999;
  right: 0;
  height: 100%;
  width: 300px;
  background: #fff;
  border-left: 1px solid #ddd;
}

.label-store {
  margin-right: 1rem;
  // border-radius: 0;
}

.carousel-indicators li {
  border-color: #000;
  &.active {
    background: #000;
  }
}

.countdown-timer, .current-bid {
  font-size: 18px;
}
