$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.navbar {
  border-radius: 0;
}

.top-search {
  margin-top: 10px;
}

.cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @extend .row;
  & > li {
    @extend .col-md-3;
  }
}

.card {
  @extend .panel;
  @extend .panel-default;
}

.card-cover {
  background: #fff no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 16rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-body {
  @extend .panel-body;
}

.card-bottom {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  line-height: 4rem;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    background: $brand-primary;
    color: #fff;
  }
  &.active {
    background: $brand-primary;
    color: #fff;
    &:after {

    }
  }
}

.card-detail {
  @extend .col-md-12;
  display: none;
  & > .panel {
    &:after {
      content:"";
      border-color: #fff transparent transparent;
      border-style:solid;
      border-width:9px;
      width:0;
      height:0;
      position:absolute;
      bottom:-18px;
      left:21px
    }
    &:before {
      content:"";
      border-color: #000066 transparent transparent;
      border-style:solid;
      border-width:10px;
      width:0;
      height:0;
      position:absolute;
      bottom:-20px;
      left:20px
    }
  }
}

.product-photos {
  margin: 0;
  padding: 0;
  @extend .row;
  display: inline;
  list-style-type: none;
  li {
    padding: 0;
    margin: 0;
    @extend .col-md-4;
  }
}

.product-photo {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 1rem;
  background: pink;
}

.stores-tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

.store-categories {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  & > li {
    display: inline-block;
  }
}

.card-sony {
  & > .panel {
    background: #f5f5f5;
    color: rgba(0,0,0,0.75);
  }
  .panel-heading {
    background: #000;
    color: #fff;
    bottom: 0;
  }
}
