<div class="container">
  <ul class="cards-list">
      <li ng-repeat="product in products">
        <div class="card">

            <img ng-src="{{ product.image }}" class="img-cover"/>

          <div class="card-body">
            <h4><a href="#">{{ product.title }}</a></h4>
            <small>De <strong>{{ product.lowerPrice | currency }}</strong> a <strong>{{ product.higherPrice | currency }}</strong></small>
            <br>
            <small>Em <strong>{{ product.foundIn }} lojas</strong>.</small>
          </div>
          <a href="" ng-click="toggleDetails($index)" class="card-bottom card-display" data-product-detail= "product-detail-1">
            VER MAIS
          </a>
        </div>
      </li>

    <div ng-show="selected.detail" class="card-detail" id="product-detail-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{ selected.title }}</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="product-cover"></div>
              <ul class="product-photos">
                <li>
                  <div class="product-photo"></div>
                </li>
                <li>
                  <div class="product-photo"></div>
                </li>
                <li>
                  <div class="product-photo"></div>
                </li>
                <li>
                  <div class="product-photo"></div>
                </li>
              </ul>
            </div>
            <div class="col-md-8">
              <h4>Detalhes</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nam ducimus culpa saepe voluptatum veritatis deserunt at magnam accusamus doloremque. Voluptatibus assumenda tempora sed magnam ea magni ratione, repudiandae laborum.
              <h4>Lojas</h4>
              <ul class="stores-tags">
                <li ng-repeat="store in selected.stores">
                  <span
                    class="label label-primary label-store helper"
                    style="background: {{ store.color }}"
                    data-container="body"
                    data-toggle="popover"
                    data-placement="top"
                    data-content="{{ store.features }}"
                  >
                    <i class="fa fa-tag"></i> {{ store.title }} | {{ store.price | currency: "R$ " }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ul>

</div>
